

.button {
  background-color: $blue;
  border: none;
  color: white;
  display: 'inline-block';
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
  margin-bottom: $m-size;
  margin-right: $m-size;

}

.button--link {
  background: none;
}

.button--secondary {
  background: #888888;
}


.button_manual {
  background-color: $dark-blue;
  border: none;
  color: white;
  display: 'inline-block';
  font-size: $font-size-medium;
  font-weight: 300;
  line-height: .5;
  padding: $s-size;
  text-decoration: none;
  margin-bottom: $s-size;

}


.button-tenant {
  background-color: $light-blue;
  border: none;
  color: white;
  display: 'inline-block';
  font-size: $font-size-medium;
  font-weight: 300;
  line-height: .5;
  padding: $s-size;
  text-decoration: none;
  margin-bottom: $s-size;
}
