
.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
}

.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}

.textarea_large {
  @extend .text-input;
  height: 20rem;
}

.login-input {
  border: 1px solid #cacccd;
  height: 15px;
  font-size: $font-size-medium;
  font-weight: 300;
  padding: $s-size;
  margin-bottom: $m-size;
}
