
.tenant-left-items {
  font-weight: bold;
  justify-content: flex-start;
  flex-grow: 1;
  align-items: flex-start;
}

.tenant-right-items {
  font-weight: bold;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-start;
}

.tenant-line-items {
  margin-right: 20px;
}

.tenant-item {
  border: 1px solid darken($off-white, 7%);
  border-top: none;
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  padding: $s-size;
  text-decoration: none;
  transition: background .6s ease;
  &:hover{
    background: $off-white;
  }
  @media (min-width: $desktop-breakpoint) {
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    padding: $m-size;
  }
}

.tenant-item-inactive {
  border: 1px solid darken($off-white, 7%);
  border-top: none;
  color: red;
  display: flex;
  flex-direction: column;
  padding: $s-size;
  text-decoration: none;
  transition: background .6s ease;
  &:hover{
    background: $off-white;
  }
  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: $m-size;
  }
}
